

body {
    /* background-color: #626C66; */
    /* background-image: url('pokemon1.jpeg'); */
    font-family: "Major Mono Display", monospace;
    background-color: #4A4238;
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center; */
    
}

#header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px; 
}

h1 {
    /* background-color: #4D5359; */
    border: 1px solid orange;
    /* color: #79C99E; */
    /* border: 1px solid #E1CA96; */
    border-radius: 10px;
    padding: 10px;
    font-size: 60px;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 200;
   
}

main {
    width: auto;
    /* height: 500px; */
    /* border: 1px solid red;
    background-color: #0F8B8D; */
    border-radius: 10px;
    display: flex;
    margin: 10px;
    padding: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: space-around;
}

#display-form-button {
    border-radius: 10px;
    border: 1px solid black;
}

#display-form-button:hover {
    border: 1px solid yellow;
}

#cancel-button, #submit-button {
    margin-top: 20px;
    width: 200px;
    border-radius: 10px;
}

#submit-button:hover, #cancel-button:hover, .button:hover {
    color: yellow;
}



#new-event-form {
    /* background-color: #0F8B8D; */
    border: 2px solid rgb(38, 43, 45);
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* display: block; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.day-container {
    background-color: #A8201A;
    border: 1px solid orange;
    border-radius: 10px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-title {
    border: 1px solid yellow;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
    font-size: 20px;
}

.day-title:hover {
    color: yellow;
}

.shows-container {
    /* background-color: #143642; */
    /* border: 1px solid rgb(37, 228, 69); */
    /* display: none; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    /* margin: 10px; */

}

.show-card {
    /* background-color: #DAD2D8; */
    border: 2px solid ;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    /* background-color: #918B76; */
    /* background-color: #ACA885; */
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}

.show-card:hover {
    border: 2px solid yellow;

}

.show-logo {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(139, 65, 236);
    border-radius: 10px;
}

.show-host, .show-venue {
    text-decoration: underline;
}

.show-host:hover {
    color: yellow;
}
.show-venue:hover {
    color: yellow;
}



.expanded-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* height: 500px; */
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid rgb(42, 40, 45);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}




h1, .day-container {
    background-color: #4A4238;
    color: #97DB4F;
}

body {
    background-color: #4D5359;

}

.show-card, .show-card {
    background-color: #cdef8d;
    color: #4A4238;
}

#display-form-button, #cancel-button, #submit-button, .expanded-card, .day-title, #new-event-form {
    background-color: #97DB4F;
    color: #4D5359;
}